<div class="container">    
  <div class="row">    
    <div class="col-sm-12 btn btn-primary"> 
        My Image Gallery 
      <a class="btn btn-success pull-right" [routerLink]="['/upload']">Image upload</a>   
      <select [(ngModel)] = "selectedTag" class="pull-right col-md-2 p-0 form-control mr-1" (change) = "filterByTagName($event)" >
        <option  value='all'>Filter by tags</option>   
        <option *ngFor="let tag of tagsList | async" value="{{tag}}">{{tag}}</option>    
      </select>   

      <input type="text" [(ngModel)] = "searchInput" class="form-control col-md-2 pull-right mr-1" placeholder = "Search Images" (keyup) = "searchByAttributes()"/>

    </div>    
  </div>    
  <div class="row justify-content-md-center">
    <div class="bg-image m-1" style="max-width: 22rem;" *ngFor="let img of fileInfos | async | paginate: { itemsPerPage: limit, currentPage: page, totalItems: total  }">
      <a (click)="openModal(template, img._id)">    
        <img src="{{baseUrl}}{{img.fileSource}}" class="img" width="240" height="170" >
      </a> 
      <div class="mask text-light d-flex justify-content-center text-center">
        <button class="btn btn-primary m-1" *ngFor="let tag of img.tags|splitComma" (click) = "filterByImageTag(tag)">{{tag}}</button>
      </div>
    </div>
  </div>
  <div class="pagination pagination-sm m-0 float-right">
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{imageDetails.title}}</h4>
    <span class="badge badge-primary m-1 " *ngFor="let tag of imageDetails.tags|splitComma">{{tag}}</span>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div>{{imageDetails.description}}</div>
    <div> 
      <img src="{{baseUrl}}{{imageDetails.fileSource}}"  class="img" width="100%" height="100%"/>
    </div> 
  </div>
</ng-template>